<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Post New photo</title>
  </head>
  <body>
    <div class="new-photo-body">
      <h1>Post New Photo</h1>
      <form class="new-photo-form" action="/photos" method="post">
      User: <select name="user">
        <%users.forEach(function(user){%>
          <option value='<%=user._id%>'><%=user.name%></option>
          <%})%>
      </select>
      Title:  <input type="text" name="title" value="">
      URL:  <input type="text" name="url" value="">
      <input type="submit" name="" value="Post Photo">
      </form>
    </div>

  </body>
</html>
