<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Show Route</title>
  </head>
  <body>
    <div class="show-body">
      <div class="title-bar">
        <nav class='nav-bar'>
          <a href="/">Home</a>
          <a href="/photos/">Photos Index</a>
        </nav>
        <h1 class="show-title"><%=photo.title%></h1>
        <form class="edit-form" action="/photos/<%=photo._id%>/edit" method="get">
          <input type="submit" name="" value="Edit Photo Info">
        </form>
      </div>

      <img class="show-photo" src="<%=photo.url%>" alt="<%=photo.title%>">

    </div>
  </body>
</html>
