.user-index-body{
  margin: 0;
  display: grid;
  grid-template-rows: 60px 60px 1fr 50px;
  grid-template-columns: 20px 1fr 120px 20px;
  background: rgb(230, 230, 230);
  font-family: 'PT Sans', sans-serif;
}

.body{
  
}

.user-link{
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
  font-size: calc(20pt + 0.5vh);
  text-decoration: none;
  color: rgb(90, 99, 99);
  z-index: 20;
  display: inline-block;
  /* width: 75px; */
  grid-row: 1;
  grid-column: 1;
  margin-left: 5px;
}

.new-user-form{
  grid-column: 3;
  color: rgb(90, 99, 99);
  margin-top: 5px;
}

.new-user-input {
  background-color: rgb(255,119,5);
}

.user-space{
  grid-row: 3;
  grid-column: 2 / span 2;
  background: rgb(90, 99, 99);
  display: grid;
}

.index-user-div{
  margin: 5px;
  background: white;
  display: grid;
  /* place-self: center start; */
}

.user-link:hover {
  color: rgb(255, 63, 5);
}

/* .index-photo-link{
  display: ;
} */

.user-index-photo{
  width: 10vw;
  border-radius: 4px;
  height: auto;
  overflow: hidden;
  border: thin rgb(255, 63, 5) solid;
  grid-row: 2;
  margin: 5px;
}

.site-header{
  grid-row: 1;
  grid-column: 1 / span 3;
  display: grid;
  font-family: 'PT Sans', sans-serif;
  grid-template-columns: 120px 1fr 100px;
  background-color: rgb(90, 99, 99);
  margin: 0;
}

.site-brand{  
  margin-left: 10px;
  font-size: calc(10pt + 0.5vh);
  background: rgb(255,119,5);
  background: linear-gradient(90deg, rgba(255,119,5,0.9743084733893558) 0%, rgba(227,24,58,1) 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.site-menu{
  grid-column: 3;
  place-self: center right;
  padding: 0 3vw;
  background: rgb(255, 63, 5);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.site-menu:hover{
  -webkit-text-fill-color: cyan
}



