.index-body{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: .25fr 5fr .25fr;
}

body {
  background: url('https://cdn.pixabay.com/photo/2017/02/01/22/02/mountain-landscape-2031539_960_720.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.index-title, .show-title{
  text-align: center;
  color: rgb(171, 82, 111);
  font-size: calc(26pt + 1.5vw);
}

.photo-wrapper{
  grid-row: 2;
}

.navbar-brand{
  font-size: 26pt;
  color: rgb(95,86,102);
  background: linear-gradient(90deg, rgba(255,119,5,0.9743084733893558) 0%, rgba(218,13,205,1) 50%, rgba(227,24,58,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.edit-form{
  grid-column: 2;
  text-align: center;
  margin: 0 auto;
}

.show-body{
  display: grid;
  grid-template-rows: .5fr .5fr 5fr .25fr;
  grid-template-columns: 1fr 3fr 1fr;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BYi5L19-invj6xvv/videoblocks-confetti-party-popper-explosions-on-a-green-background-3d-animation-4k_bpphp2rim_thumbnail-full01.png');
}

.show-photo{
  grid-column: 2;
  grid-row: 3;
  max-width: 100%;
  height: auto;
}

.photo-image{
  max-width: 100%;
  max-height: auto;
}

.photo-div{
  text-align: center;
  /* opacity: .1; */
  box-shadow: 10px 10px 5px grey;
}

.nav-bar{
  grid-row: 1;
  text-align: left;
  /* place-self: end start; */
  color: darkmagenta;
  font-size: calc(12pt + 1vw);
  /* max-width: 100%; */
  height: auto;
}

.home-nav{
  margin: 5vw 2vw;

}

.new-nav{
  margin: 5vw 2vw;
}
