<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1><a href="/photos/">Photos</a></h1>
    <h1><a href='/users/'>Users</a><h1>
  </body>
</html>
