<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <ul>
        <%users.forEach(function(user){%>
            <li><a href="/users/<%=user._id%>"><%=user.name%></a></li>
            <form action="/users/<%=user._id%>>?_method=DELETE" method="POST">
                <input type="submit" name="" value="Delete User">
            </form>
        <%})%>
    </ul>
        
    </body>
</html>