<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>
    <h1 class="new-user-heading">Make a new User</h1>
        <form action="/users/" class="new-user-form" method="POST">
            <input class="new-user-name" type="text" name="name" value=""><br/>
            <input class="new-user-password" type='text' name='password'><br/>
            <input class='submit-new-user' type='submit' value="Make New User">
        </form>
    </body>
</html>