<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/main.css'>
</head>
<header class="site-header">
<div class='site-brand'>
    <h2>MVPhotos</h2>
</div>
<div class='site-menu'>
    <h3>menu</h3>
</div>
</header>